.item-container-editable,
.item-container {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  width: 800px;
  border: 1px solid #404040;
  border-radius: 20px;
}

.item-container-editable {
  background-color: #ECECEC;
}

.item-container {
  display: flex;
  justify-content: space-between;
}

.item-container input[type='checkbox'],
.item-container-editable input[type='checkbox'] {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
}

.item-container input[type='checkbox'] {
  top: 10px;
}

.item-container-editable input {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5rem;
  margin-right: 1rem;
}

.item-container > div {
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
}

.item-container .task {
  width: 200px;
}

.btn-delete {
  font-size: 16px;
  font-weight: 700;
}

.btn-delete:hover {
  color: rgb(190, 0, 0);
}