$accent_green: #58CF18;
$accent_light_pink: #FF7CB4;
$accent_pink: #FF2D87;
$accent_yellow: #FFA601;
$secondary_blue: #F0F4FB;
$secondary_white: #FFFFFF;
$secondary_very_light_grey: #F8F8F8;
$secondary_grey: #8D8D8E;
$primary_body: #727280;
$primary_dark: #2D2D2F;
$blue: #2967FF;